<div class="bs-header" id="content">
  <div class="container">
    <h1>算力配股</h1>
    <p>爱挖矿矿池经过几个月的运营，产矿稳定、营收可观、技术实力雄厚，为了答谢广大挖矿朋友的支持，特进行首次算力配股，现正式开始。</p>
  </div>
</div>
<div class="container bs-docs-container">
  <div class="row">
    <h3>配股条件</h3>
    <p>大于20M算力的朋友，最低20M起进入爱挖矿股东列表</p>
    <h3>配股比例</h3>
    <p>爱挖矿首次40%股份，配集总算力2G，每20M算力占股0.2%</p>
    <h3>营收分配</h3>
    <p>每周一结算上一周分红，折算成LTC或者现金转入其帐户</p>
    <h3>分配要求</h3>
    <p>股东算力在爱挖矿每周挖矿超过6天的朋友（爱挖矿内不限池）</p>
    <h3>矿池目标</h3>
    <ol>
      <li>本次配股前2G的大算力矿友，算力由大家一起商议投入到哪个池由大家讨论决定</li>
      <li>本池计划今年总体算力达到10G以上，所有费率赢收全部计入分红范围</li>
    </ol>
    <h3>矿池后续运营计划</h3>
    <ol>
      <li>为了保证矿池迅速扩张，矿池将上线推广人系统，推荐人享受由矿池奖励被推荐人挖矿收益的1%收益。
      </li>
      <li>矿池将采购大批量矿机增大自有算力，进一步保障收益。</li>
      <li>爱挖矿矿池已经成立虚拟币投资部门，专门研究高收益山寨币，会成立机枪池自动挖高收益山寨币，利润计入矿池收益。      </li>
    </ol>
  </div>
</div>