<div class="bs-header" id="content">
  <div class="container">
    <h1>关于爱挖矿</h1>
    <p>欢迎光临爱挖矿矿池,做中国最好的矿池<br> QQ群1(满): 133278594，QQ群2: 223884526
    </p>
  </div>
</div>
<div class="container bs-docs-container">
  <div class="row">
    <h3>概况</h3>
    <p>	爱挖矿属于正规公司运营，自有BTC、LTC算力投入超过200万，有自己的机房。创始人来自于网易，UC，腾讯等公司，技术实力雄厚。
    </p>
    <h3>公司产品</h3>

    <ol>
      <li>比特币应用市场 <a href="http://btc-appstore.com">http://btc-appstore.com/</a></li>
      <li>爱挖矿矿池 <a href="http://iwakuang.com">http://iwakuang.com</a></li>
      <li>在线游戏娱乐城 开发即将结束</li>
    </ol>

  </div>
</div>