<h3>矿池列表</h3>
<div class="row">
    <table class="table table-bordered table-hover table-striped">
      <thead>
      <tr>
        <th>币种</th>
        <th>矿池链接</th>
        <th>挖矿地址</th>
        <th>费用</th>
        <th>官网</th>
        <th>钱包下载</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>莱特币(LiteCoin)</td>
        <td><a href="http://lite.iwakuang.com" target="_blank">http://lite.iwakuang.com</a></td>
        <td><p>地址：stratum+tcp://stratum.iwakuang.com</p>端口：3333</td>
        <td>pplns，永久免费，爆块者奖励0.1莱特币</td>
        <td><a href="http://www.litecoin.org/" target="_blank">点击进入</a></td>
        <td><a href="http://btc-appstore.com/wphone.php" target="_blank">点击进入</a></td>
      </tr>

      <tr>
        <td><strong>狗币(DogeCoin)</strong></td>
        <td><a href="http://doge.iwakuang.com">http://doge.iwakuang.com</a></td>
        <td><p>地址：stratum+tcp://stratum.iwakuang.com</p>端口：2222</td>
        <td>pplns，1%手续费，爆块者奖励1000狗币</td>
        <td><a href="http://dogecoin.com/" target="_blank">点击进入</a></td>
        <td><a href="http://btc-appstore.com/wphone.php" target="_blank">点击进入</a></td>
      </tr>

      <tr>
        <td>华尔街币(WallStreetCoin)</td>
        <td><a href="http://wallstreet.iwakuang.com" target="_blank">http://wallstreet.iwakuang.com</a></td>
        <td><p>地址：stratum+tcp://stratum.iwakuang.com</p>端口：4444</td>
        <td>pplns，2%手续费，爆矿者奖励1华尔街币</td>
        <td><a href="http://wallstreetcoin.biz/" target="_blank">点击进入</a></td>
        <td><a href="http://btc-appstore.com/wphone.php" target="_blank">点击进入</a></td>
      </tr>


      <tr>
        <td>世界币(WorldCoin)</td>
        <td><a href="http://world.iwakuang.com" target="_blank">http://world.iwakuang.com</a></td>
        <td><p>地址：stratum+tcp://stratum.iwakuang.com</p>端口：1111</td>
        <td>pplns，2%手续费，爆矿者奖励0.1世界币</td>
        <td><a href="http://worldcoinfoundation.org/zh-CN" target="_blank">点击进入</a></td>
        <td><a href="http://btc-appstore.com/wphone.php" target="_blank">点击进入</a></td>
      </tr>


      <tr>
        <td>火币(FireCoin)</td>
        <td><a href="http://fire.iwakuang.com" target="_blank">http://fire.iwakuang.com</a></td>
        <td><p>地址：stratum+tcp://stratum.iwakuang.com</p>端口：6666</td>
        <td>pplns，2%手续费，爆矿者奖励0.1火币</td>
        <td><a href="http://firecoin.cc/" target="_blank">点击进入</a></td>
        <td><a href="http://btc-appstore.com/wphone.php" target="_blank">点击进入</a></td>
      </tr>

      <tr>
        <td>羽毛币(FeatherCoin)</td>
        <td><a href="http://feather.iwakuang.com" target="_blank">http://feather.iwakuang.com</a></td>
        <td><p>地址：stratum+tcp://stratum.iwakuang.com</p>端口：5555</td>
        <td>pplns，2%手续费，爆矿者奖励0.2羽毛币</td>
        <td><a href="http://feathercoin.com/" target="_blank">点击进入</a></td>
        <td><a href="http://btc-appstore.com/wphone.php" target="_blank">点击进入</a></td>
      </tr>

      <tr>
        <td>数码币(Digitalcoin)</td>
        <td>敬请期待...</td>
        <td><p>地址：stratum+tcp://stratum.iwakuang.com</p>端口：7777</td>
        <td>敬请期待...</td>
        <td><a href="http://digitalcoin.co/zh/" target="_blank">点击进入</a></td>
        <td><a href="http://btc-appstore.com/wphone.php" target="_blank">点击进入</a></td>
      </tr>

      </tbody>
    </table>



</div>

<div class="row">
  <div class="container"></div>
  <h3>如果你有新币种建矿池推荐，请联系群里矿主（QQ群: 133278594）</h3>
</div>