<div class="bs-header" id="content">
  <div class="container">
    <h1>矿池列表</h1>
    <p>爱挖矿矿池做中国最好的矿池，20M以上免税，不限币种，请加群后联系管理员设置免税！</p>

  </div>
</div>
<div class="container bs-docs-container">
<div class="row" style="margin-top: 30px">
    <table class="table table-bordered table-hover table-striped">
      <thead>
      <tr style="background-color: #F7F5FA">
        <th>币种</th>
        <th>矿池链接</th>
        <th>挖矿地址</th>
        <th>费用</th>
        <th>交易网站</th>
        <th>官网</th>
        <th>钱包</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>莱特币(LiteCoin)</td>
        <td><a href="http://lite.iwakuang.com" target="_blank">http://lite.iwakuang.com</a></td>
        <td><p>地址：stratum+tcp://stratum.iwakuang.com</p>端口：8888</td>
        <td>prop，永久免费，爆矿者奖励0.1莱特币</td>
        <td><a href="http://www.okcoin.com" target="_blank">OkCoin</a></td>
        <td><a href="http://www.litecoin.org/" target="_blank">官方网站</a></td>
        <td><a href="http://btc-appstore.com/wphone.php" target="_blank">钱包下载</a></td>
      </tr>

      <tr>
        <td><strong>狗币(DogeCoin)</strong></td>
        <td><a href="http://doge.iwakuang.com">http://doge.iwakuang.com</a></td>
        <td><p>地址：stratum+tcp://stratum.iwakuang.com</p>端口：2222</td>
        <td>prop，1%手续费，前期爆矿者奖励<strong style="color: red">500</strong>狗币</td>
        <td>
          <a href="http://www.bter.com" target="_blank">Bter比特儿</a> <br>
          <a href="http://btc38.com/" target="_blank">BTC38比特时代</a>
        </td>
        <td><a href="http://dogecoin.com/" target="_blank">官方网站</a></td>
        <td><a href="http://btc-appstore.com/wphone.php" target="_blank">钱包下载</a></td>
      </tr>


      <tr>
        <td><strong style="color: red">最大币(MaxCoin)</strong></td>
        <td><a href="http://max.iwakuang.com" target="_blank">http://max.iwakuang.com</a><br>（已经被maxcoin官方收录）</td>
        <td><p>地址：stratum+tcp://<span style="color: red">stratum2</span>.iwakuang.com</p>端口：1234</td>
        <td>prop，1%手续费，爆矿者奖励0.1最大币</td>
        <td><a href="http://bter.com" target="_blank">Bter比特儿</a><br></td>
        <td><a href="http://www.maxcoin.co.uk/" target="_blank">官方网站</a></td>
        <td><a href="http://btc-appstore.com/wphone.php" target="_blank">钱包下载</a></td>
      </tr>

      <tr>
        <td><strong style="color: red">ZEIT币(ZeitCoin)<br>3月1日新币，第一时间开采</strong></td>
        <td><a href="http://zeit.iwakuang.com" target="_blank">http://zeit.iwakuang.com</a></td>
        <td><p>地址：stratum+tcp://<span style="color: red">zeitpool</span>.iwakuang.com</p>端口：1240</td>
        <td>prop，1%手续费，爆矿者奖励100 ZEIT币</td>
        <td>www.cryptorush.in (发布当天即上)</td>
        <td><a href="http://www.zeit-coin.com" target="_blank">官方网站</a></td>
        <td><a href="http://www.zeit-coin.com" target="_blank">钱包下载</a></td>
      </tr>

      <tr>
        <td><strong style="color: red">黑币(BlackCoin)<br>24日新币，极具潜力</strong></td>
        <td><a href="http://black.iwakuang.com" target="_blank">http://black.iwakuang.com</a></td>
        <td><p>地址：stratum+tcp://<span style="color: red">blackpool</span>.iwakuang.com</p>端口：1239</td>
        <td>prop，1%手续费，爆矿者奖励5黑币</td>
        <td>https://www.allcoin.com/trade/bc_btc<br>
          https://www.cryptoaltex.com/<br>
          http://www.newcointrade.com/<br></td>
        <td><a href="http://www.blackcoin.co" target="_blank">官方网站</a></td>
        <td><a href="http://www.blackcoin.co" target="_blank">钱包下载</a></td>
      </tr>

      <tr style="display: none">
        <td><strong style="color: red">绿币(VertCoin)</strong></td>
        <td><a href="http://vert.iwakuang.com" target="_blank">http://vert.iwakuang.com</a></td>
        <td><p>地址：stratum+tcp://<span style="color: red">stratum2</span>.iwakuang.com</p>端口：1236</td>
        <td>prop，1%手续费，爆矿者奖励0.1绿币</td>
        <td>https://www.allcoin.com/trade/bc_btc<br>
          https://www.cryptoaltex.com/<br>
          http://www.newcointrade.com/<br></td>
        <td><a href="http://http://www.blackcoin.co" target="_blank">官方网站</a></td>
        <td><a href="http://btc-appstore.com/wphone.php" target="_blank">钱包下载</a></td>
      </tr>

      <tr>
        <td><strong style="color: red">乐透币(LOT)</strong></td>
        <td><a href="http://lot.iwakuang.com" target="_blank">http://lot.iwakuang.com</a></td>
        <td><p>地址：stratum+tcp://<span style="color: red">lotpool</span>.iwakuang.com</p>端口：1238</td>
        <td>prop，1%手续费，爆矿者奖励5 LOT币</td>
        <td><a href="https://www.cryptsy.com" target="_blank">C网</a><br>国外上线3家交易网站，国内还没上线</td>
        <td><a href="http://lottocoin.org" target="_blank">官方网站</a></td>
        <td><a href="http://lottocoin.org" target="_blank">钱包下载</a></td>
      </tr>

      <tr>
        <td>帽子币(TIPS)</td>
        <td><a href="http://tips.iwakuang.com" target="_blank">http://tips.iwakuang.com</a></td>
        <td><p>地址：stratum+tcp://<span style="color: red">stratum2</span>.iwakuang.com</p>端口：1237</td>
        <td>prop，1%手续费，爆矿者奖励1000 TIPS币</td>
        <td><a href="http://bter.com" target="_blank">Bter比特儿</a><br></td>
        <td><a href="http://fedoraco.in" target="_blank">官方网站</a></td>
        <td><a href="http://fedoraco.in" target="_blank">钱包下载</a></td>
      </tr>

      <tr>
        <td>巴厘岛币(BeliCoin)</td>
        <td><a href="http://beli.iwakuang.com" target="_blank">http://beli.iwakuang.com</a></td>
        <td><p>地址：stratum+tcp://<span style="color: red">stratum2</span>.iwakuang.com</p>端口：1235</td>
        <td>prop，0%手续费</td>
        <td>2月19日刚出的币，暂时没上交易所</td>
        <td><a href="http://belicoin.com" target="_blank">官方网站</a></td>
        <td><a href="http://belicoin.com" target="_blank">钱包下载</a></td>
      </tr>

      <tr style="display: none">
        <td>华尔街币(WallStreetCoin)</td>
        <td><a href="http://wallstreet.iwakuang.com" target="_blank">http://wallstreet.iwakuang.com</a></td>
        <td><p>地址：stratum+tcp://stratum.iwakuang.com</p>端口：9999</td>
        <td>prop，0%手续费</td>
        <td>线下交易</td>
        <td><a href="http://wallstreetcoin.biz/" target="_blank">官方网站</a></td>
        <td><a href="http://btc-appstore.com/wphone.php" target="_blank">钱包下载</a></td>
      </tr>


      <tr style="display: none">
        <td>世界币(WorldCoin)</td>
        <td><a href="http://world.iwakuang.com" target="_blank">http://world.iwakuang.com</a></td>
        <td><p>地址：stratum+tcp://stratum.iwakuang.com</p>端口：1111</td>
        <td>prop，2%手续费，爆矿者奖励0.1世界币</td>
        <td>
          <a href="http://bter.com" target="_blank">Bter比特儿</a><br>
          <a href="http://btc38.com/" target="_blank">BTC38比特时代</a>
        </td>
        <td><a href="http://worldcoinfoundation.org/zh-CN" target="_blank">官方网站</a></td>
        <td><a href="http://btc-appstore.com/wphone.php" target="_blank">钱包下载</a></td>
      </tr>


      <tr>
        <td>火币(FireCoin)</td>
        <td><a href="http://fire.iwakuang.com" target="_blank">http://fire.iwakuang.com</a></td>
        <td><p>地址：stratum+tcp://stratum.iwakuang.com</p>端口：6666</td>
        <td>prop，2%手续费，爆矿者奖励0.1火币</td>
        <td>
          <a href="http://btcqian.com" target="_blank">比特钱</a> <br>
          <a href="https://www.easecoin.com/‎" target="_blank">易币网</a>
        </td>
        <td><a href="http://firecoin.cc/" target="_blank">官方网站</a></td>
        <td><a href="http://btc-appstore.com/wphone.php" target="_blank">钱包下载</a></td>
      </tr>

      <tr style="display: none">
        <td>羽毛币(FeatherCoin)</td>
        <td><a href="http://feather.iwakuang.com" target="_blank">http://feather.iwakuang.com</a></td>
        <td><p>地址：stratum+tcp://stratum.iwakuang.com</p>端口：5555</td>
        <td>prop，2%手续费，爆矿者奖励0.2羽毛币</td>
        <td><a href="http://bter.com" target="_blank">Bter比特儿</a><br></td>
        <td><a href="http://feathercoin.com/" target="_blank">官方网站</a></td>
        <td><a href="http://btc-appstore.com/wphone.php" target="_blank">钱包下载</a></td>
      </tr>

      <tr style="display: none">
        <td>数码币(Digitalcoin)</td>
        <td>敬请期待...</td>
        <td><p>地址：stratum+tcp://stratum.iwakuang.com</p>端口：7777</td>
        <td>敬请期待...</td>
        <td><a href="http://bter.com" target="_blank">Bter比特儿</a><br></td>
        <td><a href="http://digitalcoin.co/zh/" target="_blank">官方网站</a></td>
        <td><a href="http://btc-appstore.com/wphone.php" target="_blank">钱包下载</a></td>
      </tr>

      </tbody>
    </table>



</div>

<div class="row">
  <div class="container"></div>
  <h3>如果你有新币种建矿池推荐，请联系群里矿主（QQ群2: 223884526）</h3>
</div>

</div>