<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="../" class="navbar-brand" style="font-size: 18px;font-weight: bold">爱挖矿矿池</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li <%if @nav=='index'%>class="active"<%end%>>
          <a href="../">矿池列表</a>
        </li>
        <li <%if @nav=='share'%>class="active"<%end%>>
            <a href="../shares/index">算力配股</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li <%if @nav=='about'%>class="active"<%end%>>
            <a href="../home/about">关于爱挖矿</a>
        </li>
      </ul>
    </nav>
  </div>
</header>